.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  min-height: 100vh;
  display: grid;
  align-items: center;
  place-items: center;
  font-size: 0.9375rem;
  font-family: "League Spartan", sans-serif;
  font-weight: 400;
  background-image: url(./images/bg-pattern-top-mobile.svg),
    url(./images/bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: top, bottom;
  background-size: 18.75rem;
  width: 100vw;
}
.star {
  margin-bottom: -10px;
}
.rateBox {
  background-color: hsl(300, 24%, 96%);
  text-align: center;
  height: 2.5rem;
  padding: 0.625rem;
}
.rateBox p {
  color: hsl(300, 43%, 22%);
  font-weight: 700;
}
.ratePerson {
  background-color: hsl(300, 43%, 22%);
  color: white;
  padding: 2.5rem 1.875rem 1.25rem 1.875rem;
  display: grid;
  grid-template-rows: 30% auto;
  grid-template-columns: 30% auto;
  grid-template-areas:
    "ih ih"
    "p p";
}
span {
  font-size: 2.3125rem;
}
.ratePerson,
.rateBox {
  border-radius: 0.3125rem;
  margin-bottom: 0.625rem;
}
.boxes,
.persons {
  width: 18.75rem;
}
.title {
  width: 18.75rem;
}
.ratePerson img {
  width: 3.125rem;
  border-radius: 3.125rem;
}
.name {
  color: white;
  font-weight: 500;
}
.nameImage {
  grid-area: ih;
  display: flex;
  flex-direction: row;
}
.ratePerson p {
  grid-area: p;
  font-weight: 400;
  line-height: 1.25rem;
  margin-top: 1.5625rem;
}
.headname {
  display: flex;
  flex-direction: column;
  margin-left: 0.625rem;
  margin-top: 0.625rem;
}
header p {
  color: hsl(303, 10%, 53%);
  font-weight: 500;
}
h1 {
  color: hsl(300, 43%, 22%);
  font-weight: 700;
}
.headname p {
  color: hsl(333, 80%, 67%);
  font-weight: 400;
  margin-top: 0rem;
}

header {
  text-align: center;
}
.persons {
  margin-top: 3.125rem;
}

@media only screen and (min-width: 700px) {
  body {
    background-image: url(./images/bg-pattern-top-desktop.svg),
      url(./images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: top, bottom;
    background-position-x: left, right;
    background-size: 100vh, contain;
    padding-left: 10%;
    place-items: baseline;
    margin: 1.25rem;
    width: fit-content;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 15.625rem 30rem;
    grid-template-areas:
      "hd reb"
      "p p"
      "f f";
  }
  h1 {
    width: 15.625rem;
  }
  header {
    width: 45.625rem;
    display: contents;
    margin-left: -0.625rem;
  }
  main {
    display: grid;
  }
  footer {
    grid-area: f;
    margin-left: auto;
    margin-top: 1.25rem;
  }
  .title {
    width: 21.875rem;
    text-align: left;
    grid-area: hd;
  }
  .boxes {
    grid-area: reb;
    margin-left: 16.875rem;
  }
  .rateBox {
    display: grid;
    grid-template-columns: 40% auto;
    width: 25rem;
    align-items: center;
    padding: 0rem;
    margin: 0.625rem;
  }
  header .star {
    margin: 0rem;
  }
  .persons {
    grid-area: p;
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .ratePerson {
    width: 16.25rem;
    height: 10rem;
  }
  #secrateBox {
    margin-left: 2.5rem;
  }
  #thirateBox {
    margin-left: 5rem;
  }
  #secratePerson {
    margin-top: 0.9375rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }
  #thiratePerson {
    margin-top: 1.875rem;
  }
}
